.pull-left{
    float : left;
}

.pull-right{
    float : right;
}

.clearfix{
    clear : both;
    &:after{
        content : "";
        display: table;
    }
}
.mt-10{
    margin-top : 10px;
}
.mt-20{
    margin-top : 20px;
}
.mb-10{
    margin-bottom : 10px;
}

  .disabled{
    opacity: 0.7;
    pointer-events: none;
}


.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}