//base Colors
$light-color : #f5f5f5;
$dark-color : #333333;

$border-color : $light-color;
// $success-color : #4CAF50;
$success-color :#2199e8;
$white-color : #fff;


//font-weights

$lighter-weight : 100;
$light-weight : 300;
$normal-weight : 500;
$bold-weight : 600;
$bolder-weight : 700;