<article class="exam-page">
  <section class="exam-heading">
    <h1 class="heading">Welcome, User</h1>
    <app-logout></app-logout>
  </section>
  <div *ngIf="!testCompleted && started && currentQuestion" class="test-progress">
    <section class="info-badge">
      <p>Question : {{questionIndex+1}}</p>
      <p>
        Time Remaining:
        <app-counter mills="{{mills}}"></app-counter>
      </p>
    </section>
    <div class="exam-content">
      <section class="current-question">
        <p class="question-desc" *ngIf="currentQuestion.hasImage">
          <!-- <img [src]="currentQuestion.question" /> -->
        </p>
        <p class="question-desc" *ngIf="!currentQuestion.hasImage">{{currentQuestion.qustionText}}</p>
        <ul>
          <li *ngFor="let answer of currentQuestion.answerList; let i = index">
            <label for="{{i+1}}">
              <input type="radio" id="{{i+1}}" class="option-input radio" name="selectedAnswer" [value]="answer.answerId" [checked]="answer.answerId == currentQuestion.answerId"
                (change)="setCurrentAnswer(currentQuestion.questionId, answer.answerId)" />
              <span *ngIf="answer.hasImage">
                <!-- <img [src]="answer.answer" /> -->
              </span>
              <span *ngIf="!answer.hasImage">
                {{answer.answerText}}
              </span>
            </label>
          </li>
        </ul>
        <div class="question-footer clearfix">
          <button class="btn pull-right" (click)="setCurrentQuestionIndex(questionIndex+1)" [disabled]="!selectedAnswer" [ngClass]="{'disabled': !selectedAnswer}"
            *ngIf="(questionIndex+1) < this.questions.length">
            Next Question
          </button>
          <button class="btn pull-right" (click)="submitTest()" [disabled]="!selectedAnswer" [ngClass]="{'disabled': !selectedAnswer}"
            *ngIf="questions.length == (questionIndex+1)">
            Submit
          </button>
        </div>
      </section>
      <section class="all-questions">
        <perfect-scrollbar style="max-height: calc(100vh - 100px);" [config]="scrollConfig">
          <ul>
            <li *ngFor="let question of questions; let i = index" id="{{question.questionId}}" (click)="setCurrentQuestionIndex(i)" [ngClass]="{'active': (currentQuestion.questionId == question.questionId), 'answered' : question.answerId}">
              <a>{{i+1}}</a>
            </li>
          </ul>
        </perfect-scrollbar>
      </section>
    </div>
  </div>
  <div *ngIf="!currentQuestion">
    <h1 class="text-center mt-20">No Questions Added.</h1>
  </div>
  <div class="test-completed" *ngIf="testCompleted">
    <img [src]="testCompletedImage" />
    <p>Test Completed</p>
  </div>
</article>