<div id="app">
    <div class="login-page">
        <div class="form">
            <h1>Login</h1>
            <form (ngSubmit)="onSubmit($event)" [formGroup]='login' novalidate>
                <input type="text" formControlName="username" placeholder="username" />
                <div class="form-control-feedback" *ngIf="username.invalid && (username.dirty || isSubmitted)">
                    <p class="error-text" *ngIf="username.errors.required">
                        username is required.
                    </p>
                </div>
                <input type="password" formControlName="password" placeholder="password" />
                <div class="form-control-feedback" *ngIf="password.invalid && (password.dirty || isSubmitted)">
                    <p class="error-text" *ngIf="password.errors.required">
                        password is required.
                    </p>
                </div>
                <button class="btn btn-full mt-20" type="submit">login</button>
                <p class="error-text">{{error}}</p>
            </form>
            <p>
                Not a registerd user <a routerLink="/user/register">register</a>
            </p>
        </div>
    </div>
</div>