<div id="app">
    <div class="admin-page">
        <section class="admin-heading">
            <div class="left-side">
                <h1 class="heading">Welcome, Admin</h1>
                <a routerLink="/admin">Home</a>
            </div>
            <button class="btn btn-logout">Log Out</button>
        </section>
        <div class="form">
            <h1>Home</h1>
            <br>
            <br>
            <a class="btn btn-full" routerLink="/admin/view-results">View Results</a>
            <a class="btn btn-full" routerLink="/admin/add-questions">Add Questions</a>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>