@import "../../assets/scss/variables";

.admin-page > .admin-heading{
  display: flex;
  justify-content: space-between;
  height : 50px;
  background-color: #000000;
  padding: 0 0 0 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 2px 1px 0 rgba(0, 0, 0, 0.24);
  .left-side{
    display: flex;
    a{
      display: flex;
      margin-left: 20px;
      font-size: 16px;
      color: $success-color;
      height : 100%;
      align-items: center;
    }
  }
}
.admin-page > .admin-heading  h1{
  color : #fff;
  margin : 0;
  font-size: 24px;
  line-height : 50px;
  font-weight: 500;
}
.admin-page {
  margin: 0 auto auto auto;
  .form{
    box-shadow: none;
    margin-top : 3%;
    border-radius: 3px;
    h1{
      margin: 0 0 30px 0; 
    }
    .col{
      display: flex;
      align-items: center;
      label{
        width : 150px;
      }
      input{
        width: 100px;
        padding: 10px;
        margin: 0px;
        &[type='file']{
          width : 250px;
        }
      }
    }
  }
}

  @media only screen and (max-wdith : 786px){
    .register-page {
        max-width: 100%;
        padding: 0;
    }
  }