<div id="app">
    <div class="admin-page">
        <section class="admin-heading">
            <div class="left-side">
                <h1 class="heading">Welcome, User</h1>
                <a routerLink="/admin">Home</a>
            </div>
            <button class="btn btn-logout">Log Out</button>
        </section>
        <div class="form">
            <h1>Add Questions</h1>
            <p class="col">
                <label>Test Time :</label>
                <input type="text" value="" />
            </p>
            <p class="col">
                <label>Choose File :</label>
                <input type="file" value="" />
            </p>
            <br/>
            <br/>
            <button class="btn btn-logout bt-sm">Submit</button>
        </div>
    </div>
</div>