@import "../../assets/scss/variables";

.admin-page > .admin-heading{
  display: flex;
  justify-content: space-between;
  height : 50px;
  background-color: #000000;
  padding: 0 0 0 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 2px 1px 0 rgba(0, 0, 0, 0.24);
  .left-side{
    display: flex;
    a{
      display: flex;
      margin-left: 20px;
      font-size: 16px;
      color: $success-color;
      height : 100%;
      align-items: center;
    }
  }
}
.admin-page > .admin-heading  h1{
  color : #fff;
  margin : 0;
  font-size: 24px;
  line-height : 50px;
  font-weight: 500;
}
.admin-page {
  margin: 0 auto auto auto;
  .content{
    max-width: 80%;
    margin: auto;
    background: #fff;
    padding: 15px 40px;
    border-radius: 3px;
    margin-top: 30px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 2px 1px 0 rgba(0, 0, 0, 0.24);
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      border: 1px  solid #f5f5f5;
    }
    tr{
      th{
        background: $success-color;
        color: #fff;
      }
    }
    td, th {
        text-align: left;
        padding: 15px;
    }
  
    tr:nth-child(even) {
        background-color: #f5f5f5;
    }
  }
}

  @media only screen and (max-wdith : 786px){
    .register-page {
        max-width: 100%;
        padding: 0;
    }
  }